<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <content="width=device-width", initial-scale=1.0>
        <title>Sohan Matheesha</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
    </head>
    <body>
        <header class="header">
            <a href="#home" class="logo">Sohan<span>Matheesha</span></a>

            <i class="bx bx-menu" id="menu-icon"></i>
            <nav class="navbar">
                <a href="#home"  class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>
        <section class="home" id="home">
            <div class="home-content">
                <h1>Hi, It's <span>Sohan</span></h1>
                <h3 class="text-animation">I'm a<span></span></h3>
                <p> I'm a Web Designer with extensive experience for over 2 years.
                    <br>Experience is to create and Website Design , Fronted Design , and Many more......</p>
                    <div class="social-icons">
                        <a href="#" style="--i:7"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" style="--i:8"><i class='bx bxl-instagram' ></i></a>
                        <a href="#" style="--i:9"><i class='bx bxl-whatsapp' ></i></a>
                        <a href="#" style="--i:10"><i class='bx bxl-tiktok' ></i></a>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn">About</a>
                        <a href="#contact" class="btn">Contact</a>
                    </div>
            </div>
                    <div class="home-image">
                        <img src="images/logo5.jpg" alt="">
                    </div>

        </section>
        <section id="about" class="about">
            <div class="img-about">
                <img src="images/royal.png" alt="">
                <div class="info-about1">
                    <span>10+</span>
                    <p>Years of Experience</p>
                </div>
                <div class="info-about2">
                    <span>10+</span>
                    <p>Project Complete</p>
                </div>
                <div class="info-about3">
                    <span>200</span>
                    <p>Happy Cionts</p>
                </div>
            </div>

            <div class="about-content">
                <span>Let me introduce myself</span>
                <h2>About Me</h2>
                <p>sohan matheesha,sithjihjifrahihuiwehuhuiewhihehhawuihouiwhaoh</p>

                <div class="btn-group">
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>

        <section class="services" id="services">
            <h2 class="heading">Services</h2>
            <div class="service-container">
                <div class="service-box">
                    <div class="service-info">
                        <h4>UI Design</h4>
                        <p>jsjoijugojoerusgojwoguhoiwuotjhoiuoghnkwehifroiewjoufo9ruewqfojghiohywqeiguqjhjfiyi9q23uorqjohtfih2q3h</p>

                    </div>
                </div>
                <div class="service-box">
                    <div class="service-info">
                        <h4>Fronted Developement</h4>
                        <p>jsjoijugojoerusgojwoguhoiwuotjhoiuoghnkwehifroiewjoufo9ruewqfojghiohywqeiguqjhjfiyi9q23uorqjohtfih2q3h</p>
                        
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-info">
                        <h4>Backend Development</h4>
                        <p>jsjoijugojoerusgojwoguhoiwuotjhoiuoghnkwehifroiewjoufo9ruewqfojghiohywqeiguqjhjfiyi9q23uorqjohtfih2q3h</p>
                        
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-info">
                        <h4>Image Retouching</h4>
                        <p>jsjoijugojoerusgojwoguhoiwuotjhoiuoghnkwehifroiewjoufo9ruewqfojghiohywqeiguqjhjfiyi9q23uorqjohtfih2q3h</p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="portfolio">
            <div class="portfolio-main-text">
                <span>What i will do for you</span>
                <h2>Latest Project</h2>
            </div>
            <div class="section-portfolio">
                <div class="portfolio-box1">
                    <i class='bx bxs-layer service-icon'></i>
                    <h3>Photo Retouching</h3>
                    <p>najkwsh<br>3ewkhbujtghq<br>nsjhfuihei</p>
                    <div class="btn-box-portfolio-btn">
                        <a href="#" class="btn">Read More</a>
        
                    </div>
                </div>
                <div class="portfolio-box1">
                    <i class='bx bx-code-alt service-icon'></i>
                    <h3>Website Develop</h3>
                    <p>najkwsh<br>3ewkhbujtghq<br>nsjhfuihei</p>
                    <div class="btn-box-portfolio-btn">
                        <a href="#" class="btn">Read More</a>
        
                    </div>
                </div>
                <div class="portfolio-box1">
                    <i class='bx bx-desktop service-icon'></i>
                    <h3>UI /UX Designing</h3>
                    <p>najkwsh<br>3ewkhbujtghq<br>nsjhfuihei</p>
                    <div class="btn-box-portfolio-btn">
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>
                <div class="portfolio-box1">
                    <i class='bx bx-desktop service-icon'></i>
                    <h3>Graphic Designing</h3>
                    <p>najkwsh<br>3ewkhbujtghq<br>nsjhfuihei</p>
                    <div class="btn-box-portfolio-btn">
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <h1>Contact Me!</h1>
            <form action="#">
                <div class="input-box">
                    <div class="input-field field">
                        <input type="text" placeholder="Full Name" id="name" class="item" autocomplete="off">
                        <div class="error-text">Full Name Can't be blank</div>
                    </div>
                    <div class="input-field field">
                        <input type="text" placeholder="Email Address" id="email" class="item" autocomplete="off">
                        <div class="error-text email">Email Address Can't be blank!</div>
                    </div>
                </div>
        
                <div class="input-box">
                    <div class="input-field field">
                        <input type="text" placeholder="Phone Number" id="phone" class="item" autocomplete="off">
                        <div class="error-text">Phone Number Can't be blank</div>
                    </div>
                    <div class="input-field field">
                        <input type="text" placeholder="Subject" id="subject" class="item" autocomplete="off">
                        <div class="error-text">Subject Can't be blank</div>
                    </div>
                </div>
                <div class="textarea-field field">
                    <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message" class="item" autocomplete="off"></textarea>
                    <div class="error-text">Message Can't be blank</div>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </section>
        <footer class="footer">
            <div class="social">
                <a href="#" style="--i:7"><i class='bx bxl-facebook' ></i></a>
                <a href="#" style="--i:8"><i class='bx bxl-instagram' ></i></a>
                <a href="#" style="--i:9"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#" style="--i:10"><i class='bx bxl-tiktok' ></i></a>
            </div>
            <ul class="list">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">About Me</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <p class="copyright">
                Copyright &copy; 2024 by Sohan Matheesha || All Right Reserved
            </p>
        </footer>
        <script src="script.js"></script>
    </body>
 </html>
